$bgPrimary: #F7F8FB;
$bgSecondary: #ffff;
$colorGrayPrimary: #cdcfd3;
$colorBlackPrimary: #16192C;
$colorBlackSecondary: #425466;
$colorBluePrimary: #4C6FFF;
$colorGreenPrimary: #42b72a;

$shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);